<div class="container-fluid" id="form">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title">Dê Mais Vida à sua Vida!</h1>
    </div>
    <div class="panel-body">
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label for="name" class="col-sm-1 control-label">Nome:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="name" placeholder="Nome">
            </div>
            <label for="email" class="col-sm-1 control-label">E-mail:</label>
            <div class="col-sm-3">
              <input type="email" class="form-control" id="name" placeholder="E-mail">
            </div>
            
          <label for="birthdate" class="col-sm-1 control-label">Nascimento:</label>
            <div class="col-sm-2">
              <input type="date" class="form-control" id="birthdate" placeholder="Nascimento">
            </div>
        </div>
        <div class="form-group">
          <label for="cpf" class="col-sm-1 control-label">CPF:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="cpf" placeholder="CPF">
            </div>
        <div class="form-group">
          <label for="rg" class="col-sm-1 control-label">RG:</label>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="rg" placeholder="RG">
            </div>
        <div class="form-group">
          <label for="estcivil" class="col-sm-1 control-label">Est. Civil:</label>
            <div class="col-sm-2">
              <input type="text" class="form-control" id="estcivil" placeholder="Est. Civil">
            </div>
        </div>
        <div class="form-group">
          <label for="instituição" class="col-sm-1 control-label">Instituição:</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="secretaria" placeholder="Secretaria">
            </div>
        <div class="form-group">
          <div class="col-sm-6">
            <input type="text" class="form-control" id="entidadde" placeholder="Entidade">
          </div>
        </div>
        <div class="form-group">
          <label for="endres" class="col-sm-2 control-label">End. Residencial:</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="ruares" placeholder="Rua">
            </div>
            <div class="col-sm-2">
              <input type="text" class="form-control" id="nºres" placeholder="Nº">
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="bairrores" placeholder="Bairro">
            </div>
        </div>
        <div class="form-group">
          <label for="endres" class="col-sm-2 control-label"></label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="cidaderes" placeholder="Cidade">
            </div>
            <div class="col-sm-2">
              <input type="text" class="form-control" id="estadores" placeholder="Estado">
            </div>
            <div class="col-sm-2">
              <input type="text" class="form-control" id="cepres" placeholder="CEP">
            </div>
            <div class="col-sm-2">
              <input type="text" class="form-control" id="foneres" placeholder="Telefone">
            </div>
        </div>
        <div class="form-group">
          <label for="endcom" class="col-sm-2 control-label">End. Comercial:</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="ruacom" placeholder="Rua">
            </div>
            <div class="col-sm-2">
              <input type="text" class="form-control" id="nºcom" placeholder="Nº">
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="bairrocom" placeholder="Bairro">
            </div>
        </div>
        <div class="form-group">
          <label for="endres" class="col-sm-2 control-label"></label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="cidadecom" placeholder="Cidade">
            </div>
            <div class="col-sm-2">
              <input type="text" class="form-control" id="estadocom" placeholder="Estado">
            </div>
            <div class="col-sm-2">
              <input type="text" class="form-control" id="cepcom" placeholder="CEP">
            </div>
            <div class="col-sm-2">
              <input type="text" class="form-control" id="fonecom" placeholder="Telefone">
            </div>
        </div>
        <div class="form-group">
          <label for="banco" class="col-sm-2 control-label">Dados Bancários:</label>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="nomebco" placeholder="Nome do Banco">
            </div>
            <div class="col-sm-2">
              <input type="text" class="form-control" id="nºbco" placeholder="Nº do Banco">
            </div>
            <div class="col-sm-2">
              <input type="text" class="form-control" id="agencia" placeholder="Agência">
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="conta" placeholder="Nº da Conta">
            </div>
        </div>

        <div class="form-group">
          <label for="dependentes" class="col-sm-6 control-label">DEPENDENTES</label>
          <label for="nascimento" class="col-sm-3 control-label">DATA NASCIMENTO</label>
          <label for="parentesco" class="col-sm-3 control-label">PARENTESCO</label>
        </div>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="dependentes" placeholder="Nome do Dependente">
          </div>
          <div class="col-sm-3">
            <input type="text" class="form-control" id="nascimento" placeholder="Data Nscimento">
          </div>
          <div class="col-sm-3">
            <input type="text" class="form-control" id="parentesco" placeholder="Parentesco">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Sign in</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
